@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

:root {
    --Dark-cyan: hsl(202, 36%, 37%);
    --Dark-cyan-active: hsl(158, 36%, 26%);
    --Cream: hsl(41, 67%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --font-size: 14px;
    --Montserrat: "Montserrat", sans-serif;
    --Fraunces: "Fraunces", sans-serif;
}
